# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/

# Environment variables
.env

# Data and FAISS vector store
backend/data/
backend/data_source/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Frontend
frontend/node_modules/
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnp
frontend/.pnp.js
frontend/coverage/ 


